# Flask
SECRET_KEY=change-me
# Base de datos
DATABASE_URL=mysql+pymysql://root:@127.0.0.1:3306/academia_profissional_albino_matos
# Desarrollo
FLASK_DEBUG=True
# Panel de administración
ADMIN_PASSWORD=change-me